
body {
    min-height: 1200px;
}
  
.navbar-static-top {
    margin-bottom: 19px;
}

.logo {
	display: block;
	height: 50px;
}

.featured {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: auto;
}